/* General */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  background-color: #fdf8f0;
  line-height: 1.6;
}

/* Typography */
h1, h2, h3 {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* Header */
.header {
  background-color: #b7c8b5;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 430px;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  z-index: 2;
}

.logo {
  height: 120px;
  width: auto;
  z-index: 2;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sidebar */
.sidebar {
  width: 400px;
  background-color: #f5fff2;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 2px solid #ddd;
  overflow-y: auto;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#search-bar {
  flex: 1;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#search-bar:focus {
  border-color: #77aad6;
}

#search-button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #77aad6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #6393b8;
}

.or-text {
  text-align: center;
  font-size: 16px;
  color: #555555;
  margin: 10px 0;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-group label {
  font-size: 14px;
  color: #555555;
}

.filter-dropdown {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

.filter-dropdown:focus {
  border-color: #77aad6;
}

.filter-slider {
  -webkit-appearance: none;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filter-slider:hover {
  background: #77aad6;
}

.filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6393b8;
  cursor: pointer;
}

.filter-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6393b8;
  cursor: pointer;
}

.filter-value {
  font-size: 14px;
  color: #555555;
  text-align: center;
  margin-top: 5px;
}

.apply-filters-btn {
  padding: 12px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #77aad6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.apply-filters-btn:hover {
  transform: scale(1.05);
  background-color: #6393b8;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Content Layout */
.content-layout {
  display: flex;
  height: calc(100vh - 180px);
  margin-top: 20px;
}

/* Map Section */
#map-container {
  flex: 1;
  margin: 0;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#map {
  width: 100%;
  height: 100%;
}

/* Description Section */
.intro {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.description {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  color: #fdf8f0;
  background-color: #77aad6;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.read-more:hover {
  background-color: #6393b8;
  transform: scale(1.05);
}

.arrow {
  font-size: 18px;
  margin-left: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333333;
  color: #fdf8f0;
  font-size: 14px;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

footer .social-icons img:hover {
  transform: scale(1.2);
}

header {
  background: url('https://www.kunstnet.de/w4/16654/wasser-ii.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 200, 181, 0.5);
  z-index: 1;
}

footer a {
  color: #77aad6;
  font-family: 'IBM Plex Sans', sans-serif; 
  text-decoration: none;
  font-weight: bold;
}

footer a:visited {
  color: #77aad6; 
}

footer a:hover {
  text-decoration: underline;
  color: #5b8ea2; 
}